FRONTEND_ORIGIN=http://localhost:3000
DATABASE_URL=sqlite:///./makevideo.db

# Stock video APIs
PEXELS_API_KEY=ft0Y2vaDjxlvWuSY8cZLMNZIFFLMDvCHNeSPRVdZ1XHyTqlF7X8ZFT5Z
PIXABAY_API_KEY=55751917-a41c4bcaaa7ced031895a747e

# NVIDIA Riva/Magpie TTS
NVIDIA_API_KEY=

# Background music
MUSIC_ENABLED=true
