fastapi
uvicorn[standard]
sqlalchemy
pydantic-settings
requests
edge-tts
moviepy>=2.1.1
openai-whisper
google-genai
python-multipart
Pillow
transformers
torch
torchaudio
snac
soundfile
accelerate
bitsandbytes
