fastapi
uvicorn[standard]
sqlalchemy
pydantic-settings
requests
edge-tts
moviepy>=2.1.1
openai-whisper
google-genai
python-multipart
Pillow
numpy
transformers
torch
torchaudio
snac
soundfile
pyloudnorm
nvidia-riva-client
huggingface-hub
python-dotenv
accelerate
bitsandbytes
